* {
    box-sizing: border-box;
}
:root {
    --dark-bg: #282C35;
    --light-bg: #FFFAFA;
    --light-text: #FFFAFA;
    --highlight: #FFD60A
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}
body {
    font-family: 'Asap', sans-serif;
}
.site-header {
    padding: .25em 1em;
    width: 100%;
}
.post-container {
    padding: 1em 2em;
}
.post,
button,
img {
    -webkit-box-shadow: 2px 2px 4px 0 rgba(36,33,36,.25);
    box-shadow: 2px 2px 4px 0 rgba(36,33,36,.25);
    border-radius: 5px;
}
.post {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr minmax(50px, 250px);
    min-width: 400px;
    max-width: 700px;
    margin: 1em auto 2em;
    border: 3px solid var(--highlight);
}
.content {
    display: grid;
    grid-template-rows: 20px 1fr;
    padding: 0 1em 0 0;
}
img {
    width: 100%;
    max-height: 300px;
}
h1 {
    margin-bottom: 0;
    font-size: 3rem;
    max-width: 9em;
}
h2 {
    margin-top: 0;
    font-size: 1.5rem;
}
button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    padding: 1em 2em;
    font-size: .75rem;
    font-weight: 700;
    justify-self: start;
    align-self: end;
    background-color: var(--highlight);
}

/* TOGGLE */
.theme-toggle {
    display: block;
    cursor: pointer;
    height: 30px;
    width: 50px;
    border: 3px solid #000;
    border-radius: 1rem;
    margin-left: auto;
    margin-bottom: .5em;
    position: relative;
    background-color: var(--highlight);
}
.theme-toggle::after {
    content: '';
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    top: -2px;
    left: 20px;
    border-radius: 50%;
    background-color: var(--dark-bg);
    transition-duration: .4s;
}

/* DARK THEME */
.dark {
    background-color: var(--dark-bg);
    color: var(--light-text);
    animation: switchToDark .4s linear;
    animation-fill-mode: forwards;
}
.dark .theme-toggle {
    border-color: var(--light-text);
    background-color: var(--dark-bg);
}

.dark .theme-toggle:after {
    content: '☀️';
    left: 0;
    background-color: var(--light-text);
    transition-duration: .4s;
}
.dark .theme-toggle:before {
    content: '';
}
.theme-toggle:after {
    content: '👻';
}
/* MEDIA QUERIES */
@keyframes switchToDark {
    0% {
        background-color: var(--light-text);
    }
    100% {
        transform: translateY(-3px);
    }
}