body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 585px;
    box-sizing: border-box;
}
header {
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 37px;
    /* width: 585px; */
}
h1 {
    color: #FFF;
    font-weight: 800;
    font-size: 2em;
    line-height: 3em;
    margin-top: 33px;
}
section {
    background-color: #F4F4F4; /* Dark Theme: #1F2937 */
}
label {
    color: #FFF;
    font-size: 1.4em;
}
.btn {
    border: none;
    background-color: none;
    padding: none;
}
.btn-convert {
    width: 117px;
    padding: 9px 23px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 34PX;
}
input {
    margin: 0 auto;
    background: none;
    border: 1px solid #B295FF;
    border-radius: 5px;
    font-size: 3.5em;
    font-weight: 700;
    color: #FFF;
    width: 117px;
    height: 83px;
    text-align: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCC;
    opacity: 1; /* Firefox */
  }
.item-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    flex-direction: column;
    padding:  31px 77px 20px 102px;
    margin-bottom: 27px;
    border-radius: 5px;
    background-color: #fff; /* Dark Theme: #273549 */
}